@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/*body {
	background-color: yellow;
}*/
	.wrapper {
	    margin: 0 auto 0 auto;
      max-width: 1024px;
	    background-color: white;
	    font-family: 'Noto Sans JP', sans-serif;
    }

    .product_detail {
    	display: flex;
    	justify-content: space-evenly;
    }

    .product_photo {
    	margin: 10px 0 10px 0;
    }

    .product_text {
    	text-align: left;
    	flex: 0 0 450px;
      line-height: 150%;
    }

    .product_select {
    	display: flex;
    	justify-content: space-between;
    	font-size: 20px;
    	margin-top: 20px;
    }

    h2 {
    	text-align: center;
    	font-family: 'Kaisei HarunoUmi', serif;
    	font-size: 45px;
    	margin: 20px 0 30px 0;
    }
    .product_select {
    	font-size: 20px;
    	margin-top: 20px;
    }
 	
 	.add {
    	display: flex;
    	/*justify-content: space-between;*/
    }

.add_cart {
  text-align: center;
}

.to_cart {
  width: 400px;
  margin-bottom: 15px;
}

.to_cart:hover {
  opacity: 0.5;
}

.add_favorite {
  text-align: right;
}

/* ボタン本体のスタイル */
.heart-button {
  /* ボタン要素の大きさや色 */
  position: relative;
  display: inline-block;
  background-color: #ef4b53;
  padding: 0.5em 1em;
  border-radius: 7px;
  border: 2px solid transparent;

  /* ボタンの文字の設定 */
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.1em;

  /* その他必要なスタイル */
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  text-align: right;
}

/* ハートの共通スタイル */
.heart-button::before,
.heart-button::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  opacity: 0;
}

/* 左上のハートのスタイル */
.heart-button::before {
  background-image: url(../images/heart.svg);
  top: 0;
  left: -12px;
}

/* 右下のハートのスタイル */
.heart-button::after {
  background-image: url(../images/heart-reverse.svg);
  bottom: -6px;
  right: -14px;
}

/* ========= ホバー時のスタイル ======== */

/* ボタンホバー時のスタイル */
.heart-button:hover {
  background-color: #fff;
  border-color: #ef4b53;
  color: #ef4b53;
  opacity: 1;
}

/* ボタンホバー時の左上のハートのスタイル */
.heart-button:hover::before {
  animation: heart 1.5s infinite ease-out;
}

/* ボタンホバー時の右下のハートのスタイル */
.heart-button:hover::after {
  animation: heart 1.5s 0.2s infinite ease-out;
}

/* ========= アニメーションの設定 ======== */
@keyframes heart {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) scale(1.4);
    opacity: 0;
  }
}

/* ========= SPのスタイル ======== */
@media screen and (max-width: 768px) {

  /* ボタン本体のスタイル */
  .heart-button {
    background-color: #fff;
    border-color: #ef4b53;
    color: ;
  }
  
  /* 左上のハートのスタイル */
  .heart-button::before {
    animation: heart 1.5s infinite ease-out;
  }

  /* 右下のハートのスタイル */
  .heart-button::after {
    animation: heart 1.5s 0.3s infinite ease-out;
  }
}